# --- METADATA DE EMPAQUETADO ---
*.egg-info/
.eggs/
build/
dist/

# --- CACHÉ DE PYTHON ---
__pycache__/
*.py[cod]
*$py.class

# --- ENTORNOS VIRTUALES ---
.venv/
venv/
env/
# CACHÉ de Hugo
.hugo_build.lock
public/

# --- CONFIGURACIONES DE EDITORES ---
.vscode/
.idea/
